@import '../styles/values.scss';

.login{
    height: 100vh;

    &_form {
        margin: $form-margin;
        &:not(:first-child) {
            margin-top: $vertical-form-item-margin;
        }

        button {
            margin-top: $vertical-form-item-margin;
            margin-bottom: $vertical-form-item-margin;
            margin-left: $horizontal-form-item-margin;
            margin-right: $horizontal-form-item-margin;
        }
    }
}